In [111]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [112]:
df1=pd.read_csv('brain_stroke.csv')

In [113]:
df1.shape

(4981, 11)

In [114]:
df1.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [115]:
df2=pd.read_csv('stroke_data.csv')

In [116]:
df2.shape

(40910, 11)

In [117]:
df2.columns

Index(['sex', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [118]:
df3=pd.read_csv('healthcare-dataset-stroke-data.csv')

In [119]:
df3.shape

(5110, 12)

In [120]:
df3.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [121]:
# drop id columns from df3 
df3 = df3.drop(columns=['id'])

In [122]:
# rename df2 sex column => gender columns
df2 = df2.rename(columns={'sex':'gender'})

In [22]:
df1.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [123]:
df2.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [124]:
df3.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [125]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [126]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40910 entries, 0 to 40909
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             40907 non-null  float64
 1   age                40910 non-null  float64
 2   hypertension       40910 non-null  int64
 3   heart_disease      40910 non-null  int64
 4   ever_married       40910 non-null  int64
 5   work_type          40910 non-null  int64
 6   Residence_type     40910 non-null  int64
 7   avg_glucose_level  40910 non-null  float64
 8   bmi                40910 non-null  float64
 9   smoking_status     40910 non-null  int64
 10  stroke             40910 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 3.4 MB

In [127]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [128]:
df = pd.concat([df1,df2,df3])

In [129]:
df.shape

(51001, 11)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51001 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50998 non-null  object
 1   age                51001 non-null  float64
 2   hypertension       51001 non-null  int64
 3   heart_disease      51001 non-null  int64
 4   ever_married       51001 non-null  object
 5   work_type          51001 non-null  object
 6   Residence_type     51001 non-null  object
 7   avg_glucose_level  51001 non-null  float64
 8   bmi                50800 non-null  float64
 9   smoking_status     51001 non-null  object
 10  stroke             51001 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 4.7+ MB

In [131]:
for i in df.select_dtypes(include='object').columns:
    print(df[i].value_counts())
    print('*'*20)

1.0       22710
0.0       18197
Female     5901
Male       4189
Other         1
Name: gender, dtype: int64
********************
1      33601
0       7309
Yes     6633
No      3458
Name: ever_married, dtype: int64
********************
4                25570
3                 9236
Private           5785
2                 5588
Self-employed     1623
children          1360
Govt_job          1301
1                  431
0                   85
Never_worked        22
Name: work_type, dtype: int64
********************
1        21064
0        19846
Urban     5128
Rural     4963
Name: Residence_type, dtype: int64
********************
0                  20921
1                  19989
never smoked        3730
Unknown             3044
formerly smoked     1752
smokes              1565
Name: smoking_status, dtype: int64
********************

In [132]:
df['gender'].isna().sum()

3

In [133]:
df.dropna(inplace=True)

In [ ]:
# remove Unknown

df['gender'].loc[df['gender']=='unknown']

Series([], Name: gender, dtype: object)

In [ ]:
# remove Unknown

df=df.drop(df.index[3116])

In [141]:
def transform_gender(df):
    if df['gender']=='Male' :
      return 1
    if df['gender']==1 :
      return 1
    elif df['gender']=='Female' :
        return 0
    if df['gender']==0 :
      return 0
    else:
        return 'unknown'



def transform_ever_married(df):
    if df['ever_married']=='Yes' :
      return 1
    elif df['ever_married']=='No' :
        return 0
    else:
        return df['ever_married']
    


def transform_work_type(df):
    if df['work_type']=='Never_worked' :
      return 0
    elif df['work_type']=='children' :
        return 1
    elif df['work_type']=='Govt_job' :
      return 2
    elif df['work_type']=='Self-employed' :
        return 3
    elif df['work_type']=='Private' :
        return 4
    else:
        return df['work_type']



def transform_Residence_type(df):
    if df['Residence_type']=='Urban' :
      return 1
    elif df['Residence_type']=='Rural' :
        return 0
    else:
        return df['Residence_type']



def transform_smoking_status(df):
    if df['smoking_status']=='smokes' or df['smoking_status']=='formerly smoked':
      return 1
    elif df['smoking_status']=='never smoked':
        return 0
    else:
        return df['smoking_status']

In [142]:
df['gender']=df.apply(transform_gender,axis=1)
df['ever_married']=df.apply(transform_ever_married,axis=1)
df['work_type']=df.apply(transform_work_type,axis=1)
df['Residence_type']=df.apply(transform_Residence_type,axis=1)
df['smoking_status']=df.apply(transform_smoking_status,axis=1)

In [ ]:
#  transform_work_type
#        Never_worked => 0
#        children => 1
#        Govt_job => 2
#        Self-employed => 3
#        Private => 4


# Residence_type
#        Rural => 0
#        Urban => 1



# ever_married
#        Yes => 1
#        No => 0


# gender
#        Female => 0
#        Male => 1


# smoking_status
#        never smoked => 0
#        smokes => 1

In [139]:
df.reset_index()

,index,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,67.0,0,1,1,4,1,228.69,36.6,formerly smoked,1
1,1,1,80.0,0,1,1,4,0,105.92,32.5,0,1
2,2,0,49.0,0,0,1,4,1,171.23,34.4,1,1
3,3,0,79.0,1,0,1,3,0,174.12,24.0,0,1
4,4,1,81.0,0,0,1,4,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
50789,5104,0,13.0,0,0,0,1,0,103.08,18.6,Unknown,0
50790,5106,0,81.0,0,0,1,3,1,125.20,40.0,0,0
50791,5107,0,35.0,0,0,1,3,0,82.99,30.6,0,0
50792,5108,1,51.0,0,0,1,4,0,166.29,25.6,formerly smoked,0
50793,5109,0,44.0,0,0,1,2,1,85.28,26.2,Unknown,0

In [160]:
# remove Unknown
df = df[df['smoking_status'] != 'Unknown']

In [161]:
for i in df.select_dtypes(include='object').columns:
    print(df[i].value_counts())
    print('*'*20)

0    24611
1    23201
Name: smoking_status, dtype: int64
********************

In [167]:
df['gender']=df['gender'].astype('int32')
df['smoking_status']=df['smoking_status'].astype('int32')
df['hypertension']=df['hypertension'].astype('int32')
df['heart_disease']=df['heart_disease'].astype('int32')
df['ever_married']=df['ever_married'].astype('int32')
df['work_type']=df['work_type'].astype('int32')
df['Residence_type']=df['Residence_type'].astype('int32')
df['stroke']=df['stroke'].astype('int32')

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47812 entries, 0 to 5108
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             47812 non-null  int32
 1   age                47812 non-null  float64
 2   hypertension       47812 non-null  int32
 3   heart_disease      47812 non-null  int32
 4   ever_married       47812 non-null  int32
 5   work_type          47812 non-null  int32
 6   Residence_type     47812 non-null  int32
 7   avg_glucose_level  47812 non-null  float64
 8   bmi                47812 non-null  float64
 9   smoking_status     47812 non-null  int32
 10  stroke             47812 non-null  int32
dtypes: float64(3), int32(8)
memory usage: 2.9 MB

In [169]:
df.duplicated().sum()

3586

In [170]:
df.drop_duplicates(inplace=True)

In [173]:
df.reset_index()

,index,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,67.0,0,1,1,4,1,228.69,36.6,1,1
1,1,1,80.0,0,1,1,4,0,105.92,32.5,0,1
2,2,0,49.0,0,0,1,4,1,171.23,34.4,1,1
3,3,0,79.0,1,0,1,3,0,174.12,24.0,0,1
4,4,1,81.0,0,0,1,4,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44221,4779,0,58.0,0,0,1,3,1,66.71,51.7,0,0
44222,4785,0,16.0,0,0,0,0,0,68.27,20.4,0,0
44223,4906,0,53.0,0,0,1,4,1,70.51,54.1,0,0
44224,4952,1,51.0,1,0,1,3,0,211.83,56.6,0,0
44225,5009,0,50.0,0,0,1,3,0,126.85,49.5,1,0

In [178]:
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,4,1,228.69,36.6,1,1
1,1,80.0,0,1,1,4,0,105.92,32.5,0,1
2,0,49.0,0,0,1,4,1,171.23,34.4,1,1
3,0,79.0,1,0,1,3,0,174.12,24.0,0,1
4,1,81.0,0,0,1,4,1,186.21,29.0,1,1